.splash-screen {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  
  background: rgba(0,0,0,0.8);
  color: #fff;
  font-family: arial;
  z-index: 2;
}

.logo{
  width: 100%;
  height: auto;
  padding: 0 30px;
  max-width: 250px;
}
.icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
}
.material-icons {
  font-size: 126px;
}
button#start-btn{
  width: 240px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  background: #b34093;
  cursor: pointer;
}

.instruction-screen {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  
  background: rgba(0,0,0,0.8);
  color: #fff;
  font-family: arial;
  z-index: 1;
  

  display: none;
}
.cursor{
  padding-bottom: 55px;
}

.objects-found{
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: 200px;
  height: 70px;
  z-index: 2147483647;
  background: rgba(0, 0, 0, 0.5);
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}